.poppins-thin {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.poppins-extralight {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-style: normal;
}

.poppins-black {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-style: normal;
}

.poppins-thin-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-style: italic;
}

.poppins-extralight-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: italic;
}

.poppins-light-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.poppins-regular-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.poppins-medium-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.poppins-semibold-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: italic;
}

.poppins-bold-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.poppins-extrabold-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-style: italic;
}

.poppins-black-italic {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-style: italic;
}

.madimi-one-regular {
	font-family: 'Madimi One', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-mono-thin {
	font-family: 'Roboto Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

.roboto-mono-extralight {
	font-family: 'Roboto Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

.roboto-mono-light {
	font-family: 'Roboto Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

.roboto-mono-regular {
	font-family: 'Roboto Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.roboto-mono-medium {
	font-family: 'Roboto Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.roboto-mono-semibold {
	font-family: 'Roboto Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.roboto-mono-bold {
	font-family: 'Roboto Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.be-vietnam-pro-thin {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.be-vietnam-pro-extralight {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 200;
	font-style: normal;
}

.be-vietnam-pro-light {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.be-vietnam-pro-regular {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.be-vietnam-pro-medium {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.be-vietnam-pro-semibold {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 600;
	font-style: normal;
}

.be-vietnam-pro-bold {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.be-vietnam-pro-extrabold {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 800;
	font-style: normal;
}

.be-vietnam-pro-black {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 900;
	font-style: normal;
}

.be-vietnam-pro-thin-italic {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 100;
	font-style: italic;
}

.be-vietnam-pro-extralight-italic {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 200;
	font-style: italic;
}

.be-vietnam-pro-light-italic {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.be-vietnam-pro-regular-italic {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.be-vietnam-pro-medium-italic {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.be-vietnam-pro-semibold-italic {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 600;
	font-style: italic;
}

.be-vietnam-pro-bold-italic {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.be-vietnam-pro-extrabold-italic {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 800;
	font-style: italic;
}

.be-vietnam-pro-black-italic {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 900;
	font-style: italic;
}
